//
// icon-menu
//
.icon-menu {
    width: 100%;
}

.icon-menu__list {
    display: flex;
}

.icon-menu__item {
    flex-shrink: 1;
    flex-grow: 1;
}

.icon-menu__link {
    text-decoration: none;
    color: $color--primary;

    @include respond-to(desktop) {
        min-height: 0;
        padding-left: 0;
        padding-right: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.icon-menu__text {

}
