//
// Site-Search
//

.site-search {
    width: 100%;
    position: absolute;
    top: $size--touch-target;
    left: 0;
    right: 0;

    @include respond-to(desktop) {
        width: 300px;
        position: inherit;
    }

    .site-search__form {
        background-color: $color--gray-darker;
        height: 0;
        overflow: hidden;

        @include respond-to(desktop) {
            height: inherit;
        }
    }

    .site-search__form,
    .site-search__container {
        width: 100%;
        position: relative;
    }

    .site-search__button {
        @extend %vertical-center;

        border: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        background-image: none;
        color: $color--gray-lighter;
        box-shadow: none;
    }

    .site-search__input {
        width: 100%;
        border: 1px solid $color--gray-lighter;
        height: $size--touch-target;
        padding: 0;
        margin: 0;
        padding-left: $gutter-horizontal;

        &:focus {
            border-color: $color--primary;
        }
    }

}




.site-search__label {
    position: fixed !important;
    top: 0;
    right: 0;
    width: $size--touch-target;
    height: $size--touch-target;
    text-indent: -999em;
    z-index: $z-index--search;
    cursor:pointer;

    @include respond-to(desktop) {
        display: none;
    }

    .icon {
        width: $size--touch-target;
        height: $size--touch-target;
        display: block;
        background-image: url(../icon/zoom--white.svg);
        background-position: center center;
        background-size: 50%;
        background-repeat: no-repeat;
    }
}

.site-search__toggle {
  display: none;

  &:checked {
    & ~ .l-page .l-banner .site-search .site-search__form {
      height: inherit;
      padding: $gutter--narrow;

    }

    & ~ .site-search__label {
      background-color: $color--gray-darker;
    }
  }
}
