@import "functions";
@import "variables";
@import "mixins";
@import "extends";

@import "normalize";
@import "typography";

@import "_layouts/l-page";
    @import "_layouts/l-banner";
    @import "_layouts/l-quick-nav";
    @import "_layouts/l-main";
        @import "_layouts/l-component";
            @import "_layouts/l-component-header";
        @import "_layouts/l-sidebar";
@import "_layouts/l-footer";

@import "_blocks/b-advertisement";
@import "_blocks/b-site-search";
@import "_blocks/b-menu"; // imports all menus
@import "_blocks/b-site-header";
@import "_blocks/b-feature-carousel";
@import "_blocks/b-article-grid";
@import "_blocks/b-videos";
@import "_blocks/b-pagination";
@import "_blocks/b-copyright";
@import "_blocks/b-contact";
@import "_blocks/b-tags";

@import "_elements/e-button";
@import "_elements/e-input";

@import "_c-content";
@import "_c-article";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {

    @include respond-to(desktop) {
        background-color: $color--gray-lighter;
    }
}
