.l-banner .advertisement {
  @include media-query($desk) {
    margin: 0;
    width: 728px;
  }

}

.l-component-footer  .advertisement {
  border-bottom: 1px solid $color--gray-lighter;
  padding-bottom: $gutter--narrow;
  display: none;
}

.l-sidebar .advertisement {
  @extend %hide;

  @include media-query($desk) {
    margin: 0 0 $gutter--narrow;
    height: inherit;
    text-indent: 0;
    white-space: normal;
    overflow: visible;
  }
}

.advertisement {
  margin: 0 auto;
  text-align: center;
}

.advertisement,
.advertisement--medium-rectangle,
.advertisement--rising-star,
.advertisement--vertical-banner,
.advertisement--responsive {
  display: block;

  .module-header {
    display: none;
  }

}


.advertisement--vertical-banner {
  height: 280px;
  width: 140px;
  float: left;
  background-color: $color--gray-lighter;
}

.advertisement--vertical-banner img,
.advertisement--vertical-banner object,
.advertisement--vertical-banner embed {
  height: 280px !important;
  width: 140px !important;
}

.advertisement--vertical-banner  .advertisement {
  margin: 0 !important;
}

.l-sidebar .advertisement--vertical-banner .advertisement {
  height: 280px;
  width: 140px;
}

.l-sidebar .advertisement.advertisement--first {
  margin-right: $gutter--normal;
}


.advertisement--rising-star {
  height: 50px;
}

.advertisement--vertical-banner {
  height: 280px;
}

.advertisement--medium-rectangle {
  height: 250px;
}