.button {
  min-width: $size--touch-target;
  background-color: $color--green;
  border: 1px solid darken($color--green, 10%);
  box-shadow: $box-shadow;
  display: inline-block;
  color: $color--white;
  text-decoration: none;
  border-radius: 2px;
  padding: 0 $gutter--narrow;
  line-height: $size--touch-target;
  height: $size--touch-target;

  @include media-query($desk) {
    height: $size--touch-target * .75;
    line-height: $size--touch-target * .75;
  }


  @include vertical-gradient(lighten($color--green, 5%), $color--green);

  &:hover,
  &:focus {
    color: $color--white;

    background-image: none;
    background-color: $color--green;

  }

  &:active {
    background-image: none;
    background-color: $color--green;
    box-shadow: none;
    border-bottom-color: $color--green;
    box-shadow: inset $box-shadow;
  }
}

.button--nav {
  @extend .button;

  @include vertical-gradient(lighten($color--blue, 5%), $color--blue);
  border: 1px solid $color--blue;
  border-bottom-color: darken($color--blue, 20%);
  box-shadow: $box-shadow,
              $box-shadow--highlight;

  &:hover,
  &:focus {
    background-image: none;
    background-color: lighten($color--blue, 5%);
  }

  &:active {
    background-image: none;
    background-color: $color--blue;
    box-shadow: none;
    border-bottom-color: $color--blue;
    box-shadow: inset $box-shadow;
  }
}