
.copyright__logo {
  @extend %ir;

  background-image: url(../img/BCGolf_logo--white.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;

  height: 64px;
  width: 64px;

  float: left;

  margin-right: $gutter--narrow;
}

.copyright__text {
  height: 32px;

  p {
    display: table-cell;
    vertical-align: bottom;
    height: 32px;
    margin: 0;
    line-height: 14px !important;
    padding-left: $gutter--skinny;
  }
}

.copyright__menu {
  display: block;
  line-height: 12px;

  .__list {
    @extend %list;
  }

  .__list .__item {
    display: inline-block;
  }

  .__item .__link {
    color: $color--white;
    padding: 0 $gutter--skinny;
    line-height: 12px;

    i {
      font-style: normal;
    }
  }
}