.wf_caption span,
div.img_caption {
  background-color: $color--gray-lighter;
/*   width: inherit !important; */
  text-align: center;
}

p.img_caption,
.wf_caption span {
  color: $color--gray-light;
  font-style: italic;
  text-align: center;
  margin:  0;
  padding: $gutter--skinny 0;
  font-size: $size--small;
}



.img_caption img,
.wf_caption img {
  margin: 0 !important;
}

.wf_caption {
  margin: $gutter--skinny $gutter--narrow;
}