.contact {
  @extend %grid__item;
  @extend %desk--one-half;

  color: $color--white;
  border-top: 1px solid $color--blue--dark;
  padding: 0;
  line-height: $size--touch-target;

  @include media-query($desk) {
    line-height: 64px;
  }

  &__list {
    @extend %list;
    @extend %grid--full;
  }

  &__item {
    @extend %grid__item;
    @extend %palm--one-whole;
    @extend %big-palm--one-third;

    text-align: center;
  }

  &__link {
    color: $color--white;
    height: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px + $gutter--skinny;
    text-decoration: none;
  }

  &__link--location {
    @extend .contact__link;

    background-image: url(../svg/location--white.svg);

    &:hover {
      background-image: url(../svg/location--green.svg);
    }
  }

  &__link--phone {
    @extend .contact__link;

    background-image: url(../svg/call--white.svg);

    &:hover {
      background-image: url(../svg/call--green.svg);
    }
  }

  &__link--twitter {
    @extend .contact__link;

    background-image: url(../svg/twitter--white.svg);

    &:hover {
      background-image: url(../svg/twitter--green.svg);
    }
  }
}