.faq {}

.faq__item {
  border-radius: 3px;
  border: 1px solid $color--gray-lighter;
}

.faq__checkbox {
  display: none;
}

.faq__question {

  padding: $gutter--skinny $gutter--narrow;

  @include vertical-gradient($color--white, $color--gray-lighter);

  &:hover {
    background-image: none;
  }
}

.faq__label {
  cursor: pointer;
  position: relative;

  .article__title {
    font-size: $typecsset-h2-size;
    color: $color--gray;
    font-style: italic;
    margin: 0;
  }


}



.faq__answer {

  max-height: 0;

  overflow: hidden;

  transition: max-height 0.3s,
              padding 0;
}

.faq__wrapper {
  padding: $gutter--narrow;
}

.faq__image-wrapper {

}

.faq__image {
  width: 100%;
}

.faq__checkbox:checked ~ .faq__answer {
  max-height: 1000px;

}