.quick-nav {
  margin-left: $gutter--narrow;

  @include media-query($desk) {
    margin-left: 0;
  }
}

.quick-nav .module-header {
  @extend %hide;
}

.quick-nav__list {
  @extend %list;
  @extend %grid--full;

  padding-right: $gutter--narrow * 2;

  @include media-query($desk) {
    height: 90px;
    overflow: hidden;
    padding: 0;
  }

}

.quick-nav__item {
  @extend %grid__item;
  @extend %palm--one-half;
  @extend %lap--one-quarter;
  @extend %desk--one-quarter;
}

.quick-nav__link {
  display: block;
  text-align: center;
  background-color: $color--green;
  color: $color--white;
  text-decoration: none;
  border: 1px solid $color--white;
  border-width: 0 0 1px 1px;

  line-height: $size--touch-target +1;

  @include vertical-gradient( lighten($color--green, 3%), $color--green);

  @include media-query($desk) {
    line-height: 45px;
  }


}

.quick-nav__link:hover,
.quick-nav__link:focus {
  color: $color--white;
  background-image: none;
}

.quick-nav__link:active {
  box-shadow: inset $box-shadow;
  background-color: darken($color--green, 5%);
}