/**
 * Site Nav
 *
   div.site-nav
    h1.module-header
    ul.nav.menu.site-nav__list
      li.deeper.parent.site-nav__item
        a.site-nav__link
        ul.nav-child.small.site-nav__list
          li.site-nav__item
            a.site-nav__link
              i

          li.deeper.parent.site-nav__item
            a.site-nav__link
            ul.nav-child.small.site-nav__list
              li.site-nav__item
                a.site-nav__link
                  i
 */


/*------------------------------------*\
    $ALL
\*------------------------------------*/




// all lists
.site-nav__list
{
  @extend %list;
}





// all items
.site-nav__item {
  margin-left: $gutter--narrow;

  @inlcude media-query($desk) {
    margin: 0;
  }
}




// all items | parent
.site-nav__item.parent {
  margin: 0 $gutter--narrow;
  padding: $gutter--narrow 0 0;

  @include media-query($desk) {
    margin: 0;
    padding: 0;

  }

  &:first-child {
    margin-top: 0;
  }
}




// all links
.site-nav__link {
  color: $color--gray-lighter;
  display: block;
  font-weight: 200;
  text-decoration: none;

  /*@include typecsset-font-size($size--small);*/
  line-height: $size--touch-target;

  @include media-query($desk) {
    color: $color--gray-darker;
  }
}








/*------------------------------------*\
    $SPECIFIC ELEMENT
\*------------------------------------*/

// module
.site-nav
{
  bottom: 0;
  color: $color--gray-light;
  margin-left: -$size--touch-target;
  overflow: scroll;
  padding-left: $size--touch-target;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index--menu;
  left: -100%;
  background-color: $color--gray-darker;

  -webkit-overflow-scrolling: touch; // enable intertia scrolling

  @include media-query($desk) {
    background-color: $color--gray-lighter;
    margin-left: 0;
    overflow: visible;
    padding-left: 0;
    width: 100%;
    position: relative;
    left: 0;

    @include vertical-gradient($color--gray-lighter, darken($color--gray-lighter, 5%));
  }
}

// module header
.site-nav
  .module-header
  {
    @extend %hide;
  }



/*------------------------------------*\
    $NESTED ELEMENTS
\*------------------------------------*/





// first level
// first list
// list
.site-nav >
  .site-nav__list
  {
    @include media-query($desk) {
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
    }
  }

// first level
// first list item
// list -> item
.site-nav >
  .site-nav__list >
    .site-nav__item
    {
      @include media-query($desk) {
        display: table-cell;
        border: 1px solid $color--gray-light;
        width: 1%;
        vertical-align: top;
        border-collapse: collapse;
      }
    }


// first level
// first list item link
// list -> item -> link
.site-nav >
  .site-nav__list >
    .site-nav__item  >
      .site-nav__link
      {
        @include media-query($desk) {
          border-top: 1px solid $color--white;
          display: table;
          width: 100%;
        }
      }

.site-nav >
  .site-nav__list >
    .site-nav__item >
      .site-nav__link i {
        padding: 0 $gutter--narrow;
      }

// second level
// any list in an item
// item -> list
.site-nav__item >
  .site-nav__list {
    padding-bottom: $gutter--normal;
    border-bottom: 1px solid $color--gray-dark;

    @include media-query($desk) {
      padding: 0;
      border: none;
    }
  }




// second level
// any item in a list in an item
// item -> list -> item
.site-nav__item >
  .site-nav__list
    .site-nav__item
    {
/*       border-left: 2px solid $color--gray-dark; */
      padding-left: $gutter--narrow;

      @include media-query($desk) {
        border: none;
        padding: 0;
      }
    }



// second level
// any list in an item in a list
// list -> item -> list
.site-nav__list >
  .site-nav__item >
    .site-nav__list
    {
      @include media-query($desk) {
        position: absolute;
        left: -999em;
        overflow: hidden;
        height: 0;
        box-shadow: $box-shadow;
        border: 1px solid lighten($color--blue, 5%);
        border-top: none;
      }
    }



// second level item
// any item in a list in an item in a list
// list -> item -> list -> item
.site-nav__list >
  .site-nav__item >
    .site-nav__list >
      .site-nav__item
      {
        @include media-query($desk) {
          margin: 0;
          background-color: $color--blue;

        }
      }


// 2nd level link
// any 2nd level link or below
// list -> item -> link
.site-nav__list
  .site-nav__list
    .site-nav__link
    {
      @include media-query($desk) {
        display: table;
        width: 100%;
        background-color: $color--blue;
        color: $color--white;
      }
    }


// 3rd level or below
// any list in an item in a list in an item in a list
// list -> item -> list -> item -> list
.site-nav__list >
  .site-nav__item >
    .site-nav__list >
      .site-nav__item >
        .site-nav__list {
          position: relative;
          box-shadow: none;
          border: none;
        }


.site-nav__list
  .site-nav__item
    .site-nav__list
      .site-nav__item
        .site-nav__list
          .site-nav__link {
            border-left: none;

            @include media-query($desk) {
              border-left: 10px solid darken($color--blue, 5%);
            }

          }



// list -> item -> link -> i
.site-nav__list >
  .site-nav__item >
    .site-nav__list >
      .site-nav__item >
        .site-nav__link
          i
          {
            @include media-query($desk) {
              display: table-cell;
              vertical-align: middle;
              font-style: normal;
              height: 44px;
              text-align: left;
              line-height: 1;
              white-space: nowrap;
              padding: 0 $gutter--narrow;
            }
          }







.site-nav >
  .site-nav__list >
    .site-nav__item >
      .site-nav__link >
        i
        {
          @include media-query($desk) {
            display: table-cell;
            vertical-align: middle;
            font-style: normal;
            height: 44px;
            text-align: center;
            line-height: 1;


          }

        }





/*------------------------------------*\
    $HOVER STATES
\*------------------------------------*/


.site-nav__item .site-nav__item:hover .site-nav__link {
  border-color: $color--green !important;
}

.site-nav
  .site-nav__list
    .site-nav__item {
      &:hover > a,    &:focus > a,    &:active > a,    &.has-focus > a,
      &:hover > h2 a, &:focus > h2 a, &:active > h2 a, &.has-focus > h2 a,
      &:hover > h3 a, &:focus > h3 a, &:active > h3 a, &.has-focus > h3 a {
        color: $color--white;

        @include media-query($desk) {
          background-color: $color--blue;
          border-top-color: lighten($color--blue, 5%);
/*           border-color: $color--green !important; */
        }
      }

      &:hover,
      &:focus,
      &:active,
      &.has-focus {
        .site-nav__list.nav-child {
          left: auto;
          height: auto;
        }
      }
}


.site-nav
  .site-nav__list
    .site-nav__list
      .site-nav__item {
        &:hover > a,    &:focus > a,    &:active > a,    &.has-focus > a,
        &:hover > h2 a, &:focus > h2 a, &:active > h2 a, &.has-focus > h2 a,
        &:hover > h3 a, &:focus > h3 a, &:active > h3 a, &.has-focus > h3 a {
          color: $color--white;

          @include media-query($desk) {
            background-color: $color--green;
          }
        }

        &:hover,
        &:focus,
        &:active,
        &.has-focus {
          .site-nav__list.nav-child {
            left: auto;
            height: auto;
          }
        }
}






