@import "m-nav__top-nav";
@import "m-nav__quick-nav";
@import "m-nav__site-nav";
@import "m-nav__footer-nav";
@import "m-nav__icon-nav";
@import "m-nav__copyright-nav";

.site-nav i,
.quick-nav i,
.footer-nav i,
.top-nav i,
.icon-nav i,
.copyright-nav i  {
  font-style: normal;
}

.disable-scroll {
  @include media-query($desk) {
    position: fixed;
  }
}



.site-nav,
.site-nav__label {
  @include media-query($desk) {
    transition: $animation--transition-speed;
    -webkit-transition: $animation--transition-speed;
  }
}



.site-nav__label {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index--menu;
  color: $color--white;
  font-size: $size--small;
  border: 1px solid lighten($color--blue, 10%);
  line-height: $size--touch-target - (2px) - ($gutter--skinny * 2); // border: 2px; margin: $gutter--skinny * 2;
  margin: $gutter--skinny;
  padding-left: $gutter--narrow;
  padding-right: $gutter--narrow;
  display: block;

  @include media-query(em(300px), max, width) {
    width: $size--touch-target;
    height: $size--touch-target  - ($gutter--skinny * 2);
    overflow: hidden;
  }

  .icon {
    @include media-query(em(399.9px), max, width) {
      display: none;
    }

    @include media-query(em(300px), max, width) {
      display: block;
    }
  }


  @include media-query($desk) {
    display: none;
  }

  .lines,
  .lines:before,
  .lines:after {
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;

  }

  .lines {
    display: inline-block;

    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
    }

    &:before { top: -6px; }
    &:after { top:   6px; }
  }
}




.site-nav__handler {
  display: none;

  &:checked {
    & ~ .page-wrapper .l-main .l-component .site-nav { left: 0; }

    & ~ .site-nav__label {
      top: 0;
      left: 100%;
      margin-left: -$size--touch-target;
      background-color: $color--gray-darker;
      text-indent: -999em;
      width: $size--touch-target;
      height: $size--touch-target;
      margin-top: 0;
      border: none;
    }

    & ~ .site-nav__label  .lines {
      //hide the middle line

      //overlay the lines by setting both their top values to 0
      &:before,
      &:after{
        top: 0;
        background-color: $color--white;
      }
      // rotate the lines to form the x shape
      &:before{
        transform: rotate3d(0,0,1,45deg);
        -webkit-transform: rotate3d(0,0,1,45deg);
      }
      &:after{
        transform: rotate3d(0,0,1,-45deg);
        -webkit-transform: rotate3d(0,0,1,-45deg);
      }
    }
  }
}



