.newsletter-signup {
  @extend %grid;
  margin: $gutter--narrow 0 0;
  padding: $gutter--narrow;
  background-color: $color--gray-lighter;
  border-radius: 5px;
  @extend %clearfix;
}
.newsletter-signup .module-header {
  @extend %zero;
  margin-bottom: $gutter--skinny;
}

.newsletter-signup__form {
  @extend %zero;
}

.newsletter-signup__input {
  display: block;
  line-height: $size--touch-target;
  border-radius: 2px;
  width: 72.5%;
  padding: 0 $gutter--narrow;
  border: 1px solid $color--gray-light;
  float: left;

}

.newsletter-signup__button {
  @extend .button;

  float: right;

  height: $size--touch-target;
  line-height: $size--touch-target;
}