.site-logo {
  /*@extend %grid__item;*/
  /*@extend %desk--one-eighth;*/

  background-color: $color--blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index--header;


  @include media-query($desk) {
    /*width: 169px;*/
    height: 90px;
    background-color: $color--white;
    background-image: url(../img/BCGolf_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    position: inherit;
  }
}



.site-logo h1 {
  @extend %zero;

  color: $color--white;
  text-align: center;
  font-size: 16px;

  /*@include typecsset-font-size($size--base);*/
  line-height: $size--touch-target;

  @include media-query($desk) {
    @include ir;
    height: 90px;
  }
}

