.tag-category {
  margin-top: $gutter--narrow;
  border-top: 1px solid $color--gray-lighter;
  padding-top: $gutter--narrow;
}

.tag-category__list {
  @extend %list;
}

.tag-category__item {
  @extend %clearfix;

  border-bottom: 1px solid $color--gray-lighter;
  margin-bottom: $gutter--normal;
  padding-bottom: $gutter--normal;
/*   padding-left: $gutter--narrow; */
/*   padding-right: $gutter--narrow; */

  &:last-of-type {
    border-bottom: none;
  }

  .tag-category__title {
    margin-bottom: $gutter--skinny;

    .tag-category__link {
      color: $color--black;
      text-decoration: none;
    }
  }

  .img-intro-left {

    @include media-query($lap) {
      max-width: 33%;
    }
  }

  .img-intro-left img {
    width: 100%;
  }

  .tag-category__image {
    width: 100%;
    margin-bottom: $gutter--narrow;

    @include media-query($lap) {
      width: 33%;
      float: left;
      margin-right: $gutter--narrow;
      margin-bottom: $gutter--narrow;
    }

  }

  .tag-category__body {

  }
}

