.feature-videos {
  @extend %grid__item;
  @extend %one-whole;
  padding-right: $gutter--normal;
  margin-left: $gutter--narrow;

  @include media-query($desk) {
    padding: 0;
    margin: 0;
  }

  .video__list {
    @extend %grid;
  }

  .video {
    @extend %grid__item;
    @extend %palm--one-whole;
    @extend %lap--one-third;
    @extend %desk--one-third;
  }

  .video__title {
    text-align: center;
    color: $color--black;
  }

  .video__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    padding-top: 25px;

  }

  .video__wrapper iframe,
  .video__wrapper object,
  .video__wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*
&:before {
      content: "";
      display: block;
    }
*/
  }

  .video__content {
    text-align: center;
  }
}