.partners-page {
  .items-leading {
/*     @extend %clearfix; */

    @extend %grid;
  }

  .item--logo {
    @extend %grid__item;
    @extend %palm--one-half;
    @extend %lap--one-third;
    @extend %desk--one-quarter;

/*     float: left; */
    border: none;
/*     margin: 0; */

    p {
      text-align: center;
    }

    img {
      max-width: 100%;
    }
  }
}