@charset "UTF-8";
.l-banner:after, .l-quick-nav:after, .l-main:after, .l-component-header:after, .l-footer:after, .blog .article-info:after,
.item-page .article-info:after,
.blog-featured .article-info:after,
.tag-category .article-info:after, .blog .item:after, .tag-category .tag-category__item:after {
  content: "";
  display: table;
  clear: both; }

.site-search .site-search__button {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.feature-carousel .module-header, .feature-carousel__nav .section-header, label.feature-carousel__nav-item, .copyright__logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.feature-carousel .module-header, .feature-carousel__nav .section-header {
  height: 0; }

.feature-carousel .module-header, .feature-carousel__nav .section-header, .article-info, .feature-carousel__nav ul, .pagination .pagination-list, .page-navigation, .copyright__menu .__list, .contact__list, .tags, .blog .actions,
.item-page .actions,
.blog-featured .actions,
.tag-category .actions, .blog .article-info,
.blog .article-info dt,
.blog .article-info dd,
.item-page .article-info,
.item-page .article-info dt,
.item-page .article-info dd,
.blog-featured .article-info,
.blog-featured .article-info dt,
.blog-featured .article-info dd,
.tag-category .article-info,
.tag-category .article-info dt,
.tag-category .article-info dd, .list--stripped, .feature-carousel__radio-control, .feature-carousel__item, .feature-carousel__nav-previous button,
.feature-carousel__nav-next button, li.feature-carousel__nav-item, label.feature-carousel__nav-item {
  margin: 0;
  padding: 0; }

.article-info, .feature-carousel__nav ul, .pagination .pagination-list, .page-navigation, .copyright__menu .__list, .contact__list, .tags, .blog .actions,
.item-page .actions,
.blog-featured .actions,
.tag-category .actions, .blog .article-info,
.blog .article-info dt,
.blog .article-info dd,
.item-page .article-info,
.item-page .article-info dt,
.item-page .article-info dd,
.blog-featured .article-info,
.blog-featured .article-info dt,
.blog-featured .article-info dd,
.tag-category .article-info,
.tag-category .article-info dt,
.tag-category .article-info dd, .list--stripped {
  list-style: none; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Modular Scale
----------------------
16px @ 1:1.333
----------------------*/
p,
blockquote,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  /*   max-width: 520px; */ }

blockquote {
  position: relative;
  margin-left: 0;
  padding-left: 10px;
  font-style: italic;
  color: #0054a4; }
  blockquote:before, blockquote:after {
    position: absolute;
    font-size: 36px;
    color: #0054a4; }
  blockquote:before {
    content: '“';
    top: 0;
    left: 0; }
  blockquote:after {
    content: '”';
    right: 0;
    bottom: -5px; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

p + p {
  margin-top: 10px; }

table {
  clear: both;
  width: 100%; }

td,
th {
  padding: 2.5px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0; }

a {
  color: #0054a4; }
  a:hover, a:focus {
    color: #006ed7; }
  a:active {
    color: #FF4136; }

body {
  color: #222;
  font-family: "Helvetica Neue","Helvetica Neue LT Std","Helvetica LT Std",Helvetica,arial,sans-serif;
  font-size: 16px;
  line-height: 1.28571em;
  line-height: 22px;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1; }

h1,
h2.article__title {
  font-size: 28.43px;
  line-height: 32px;
  color: #222;
  font-weight: 800;
  margin-bottom: 0; }

h2 {
  font-size: 21.328px;
  line-height: 30px;
  color: #222;
  font-weight: 800;
  margin-bottom: 0; }

h3 {
  font-size: 16px;
  line-height: 21px;
  color: #222;
  font-weight: 800;
  margin-bottom: 0; }

small {
  font-size: 12px;
  line-height: 16px; }

.nav a {
  font-size: 12px; }

.l-copyright {
  font-size: 12px;
  line-height: 32px; }

.article-info {
  font-size: 12px; }
  .article-info dd {
    display: block;
    float: left; }
  .article-info dd + dd {
    padding-left: 10px !important; }

.site-intro {
  margin-top: 5px;
  font-size: 16px; }

.site-intro h1 {
  color: #555;
  line-height: 25.2px; }

.wf_caption span,
.img_caption {
  text-align: center;
  font-style: italic; }

ul,
ol {
  margin-left: 0;
  padding-left: 10px;
  margin-bottom: 10px;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    ul,
    ol {
      margin: 0 !important; } }

.l-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 42px;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .l-page {
      position: inherit;
      margin: 50px auto 0;
      padding-top: 0;
      width: 1038px;
      border: 10px solid #fff;
      box-sizing: content-box;
      background-color: #fff;
      border-radius: 6px; } }

.l-banner {
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  .l-banner .module {
    margin-bottom: 10px; }
  @media only screen and (min-width: 64em) {
    .l-banner .module,
    .l-banner .menu {
      display: inline-block;
      float: left;
      margin-bottom: 0; }
    .l-banner .module.advertisement {
      margin-right: 10px; }
    .l-banner .module.site-search {
      margin-bottom: 10px; }
    .l-banner .icon-menu {
      width: 300px; } }

.l-quick-nav {
  background-color: #fff;
  width: 100%;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  .l-quick-nav .menu {
    margin-bottom: 10px; }
  @media only screen and (min-width: 64em) {
    .l-quick-nav .menu {
      float: left;
      margin-bottom: 10px; }
    .l-quick-nav .menu-four {
      width: 300px;
      margin-right: 10px; }
    .l-quick-nav .menu-eight {
      width: 728px; } }

.l-main {
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  /* @media  only screen and (min-width: 64em) { @content } */ }

.l-component {
  width: 100%;
  margin-bottom: 10px;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .l-component {
      width: 728px;
      float: left;
      margin-right: 10px; } }

.l-component-header {
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  /* @media  only screen and (min-width: 64em) { @content } */ }

.l-sidebar {
  display: none;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .l-sidebar {
      display: inline-block;
      width: 300px; } }

.advertisement {
  margin-bottom: 10px; }
  .advertisement .module-header {
    display: none; }
  .advertisement.advertisement--responsive .advertisement {
    margin: 0 auto;
    /* @media  only screen and (max-width: 20em) { @content } */ }
    @media only screen and (max-width: 20em) {
      .advertisement.advertisement--responsive .advertisement {
        display: none; } }
  .advertisement.advertisement--responsive .advertisement__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .advertisement.advertisement--responsive .advertisement--full-banner {
    width: 100%;
    height: 60px;
    max-width: 468px;
    /* @media  only screen and (min-width: 45.5em) { @content } */ }
    @media only screen and (min-width: 45.5em) {
      .advertisement.advertisement--responsive .advertisement--full-banner {
        display: none; } }
  .advertisement.advertisement--responsive .advertisement--leaderboard {
    width: 728px;
    height: 90px;
    display: none;
    /* @media  only screen and (min-width: 45.5em) { @content } */ }
    @media only screen and (min-width: 45.5em) {
      .advertisement.advertisement--responsive .advertisement--leaderboard {
        display: inherit; } }
  .advertisement.advertisement--medium-rectangle {
    width: 300px;
    height: 250px; }
  .advertisement.advertisement--rising-star {
    width: 300px;
    height: 50px; }
  .advertisement.advertisement--vertical-banner {
    width: 145px;
    height: 290px;
    display: inline-block;
    margin-right: 10px; }
    .advertisement.advertisement--vertical-banner.last {
      margin-right: 0; }
  .advertisement .advertisement {
    position: relative; }
  .advertisement .advertisement__image {
    width: 100%;
    height: 100%; }

.site-search {
  width: 100%;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .site-search {
      width: 300px;
      position: inherit; } }
  .site-search .site-search__form {
    background-color: #222;
    height: 0;
    overflow: hidden;
    /* @media  only screen and (min-width: 64em) { @content } */ }
    @media only screen and (min-width: 64em) {
      .site-search .site-search__form {
        height: inherit; } }
  .site-search .site-search__form,
  .site-search .site-search__container {
    width: 100%;
    position: relative; }
  .site-search .site-search__button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    background-image: none;
    color: #eee;
    box-shadow: none; }
  .site-search .site-search__input {
    width: 100%;
    border: 1px solid #eee;
    height: 32px;
    padding: 0;
    margin: 0;
    padding-left: 10px; }
    .site-search .site-search__input:focus {
      border-color: #c22; }

.site-search__label {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  text-indent: -999em;
  z-index: 998;
  cursor: pointer;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .site-search__label {
      display: none; } }
  .site-search__label .icon {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url(../icon/zoom--white.svg);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat; }

.site-search__toggle {
  display: none; }
  .site-search__toggle:checked ~ .l-page .l-banner .site-search .site-search__form {
    height: inherit;
    padding: 5px; }
  .site-search__toggle:checked ~ .site-search__label {
    background-color: #222; }

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__link {
  background-color: white;
  min-height: 44px;
  max-height: 44px;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 400;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu__text {
  font-style: normal; }

.menu--grid {
  /* flex-wrap: wrap; */ }

.menu--grid .menu__list {
  margin-top: -1px;
  margin-left: -1px; }

.menu--grid .menu__item {
  margin: 1px 0 0 1px; }

.main-menu {
  display: none;
  width: 100%;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .main-menu {
      display: inherit; } }

.main-menu,
.main-menu__label {
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .main-menu,
    .main-menu__label {
      transition: 0.3s;
      -webkit-transition: 0.3s; } }

.main-menu__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  .main-menu__label:hover {
    cursor: pointer; }
  @media only screen and (min-width: 64em) {
    .main-menu__label {
      display: none; } }

.main-menu__toggle {
  display: none; }
  .main-menu__toggle:checked ~ .l-page .l-main .l-component .l-component-header .main-menu {
    display: block !important;
    /* @media  only screen and (max-width: 63.9999999em) { @content } */ }
    @media only screen and (max-width: 63.9999999em) {
      .main-menu__toggle:checked ~ .l-page .l-main .l-component .l-component-header .main-menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 288px;
        background-color: #222;
        overflow-y: scroll;
        z-index: 999; }
        .main-menu__toggle:checked ~ .l-page .l-main .l-component .l-component-header .main-menu::-webkit-scrollbar {
          display: none; }
        .main-menu__toggle:checked ~ .l-page .l-main .l-component .l-component-header .main-menu .main-menu__list {
          display: block; }
          .main-menu__toggle:checked ~ .l-page .l-main .l-component .l-component-header .main-menu .main-menu__list .main-menu__item {
            color: #eee;
            -webkit-box-flex: 0;
            -webkit-flex: none;
                -ms-flex: none;
                    flex: none; }
            .main-menu__toggle:checked ~ .l-page .l-main .l-component .l-component-header .main-menu .main-menu__list .main-menu__item .main-menu__link {
              background-color: transparent;
              color: #eee; }
              .main-menu__toggle:checked ~ .l-page .l-main .l-component .l-component-header .main-menu .main-menu__list .main-menu__item .main-menu__link:hover {
                background-color: rgba(255, 255, 255, 0.1); } }
  .main-menu__toggle:checked ~ .l-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden; }
  .main-menu__toggle:checked ~ .main-menu__label {
    top: 0;
    margin-left: 0;
    left: 288px;
    background-color: #222;
    text-indent: -999em;
    width: 32px;
    height: 32px;
    margin-top: 0;
    border: none; }

.main-menu__list {
  display: block;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .main-menu__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.main-menu__item {
  display: block;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  .main-menu__item.parent .main-menu__list .main-menu__link {
    padding-left: 20px; }
  @media only screen and (min-width: 64em) {
    .main-menu__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .main-menu__item.parent {
        position: relative;
        border: 1px solid #eee;
        border-right-width: 0; }
        .main-menu__item.parent:last-of-type {
          border-right-width: 1px; }
        .main-menu__item.parent .main-menu__list {
          /* display: block; */
          position: absolute;
          display: none;
          z-index: 999;
          top: 100%;
          box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }
          .main-menu__item.parent .main-menu__list .main-menu__item {
            display: block;
            -webkit-box-flex: 0;
            -webkit-flex: none;
                -ms-flex: none;
                    flex: none;
            width: 250px; }
          .main-menu__item.parent .main-menu__list .main-menu__link {
            min-height: 32px;
            line-height: 32px;
            text-align: left;
            display: block;
            background-image: none;
            background-color: #fbfbfb;
            box-shadow: none; }
            .main-menu__item.parent .main-menu__list .main-menu__link:hover {
              color: #c22;
              background-color: #eee;
              background-image: -webkit-gradient(linear, left top, right top, from(#eee), to(#fdf0f0));
              /* Chrome, Safari 4+ */
              background-image: -webkit-linear-gradient(left, #eee, #fdf0f0);
              /* Chrome 10-25, iOS 5+, Safari 5.1+ */
              /* Firefox 3.6-15 */
              /* Opera 11.10-12.00 */
              background-image: linear-gradient(to right, #eee, #fdf0f0);
              /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
      .main-menu__item.parent:hover .main-menu__list {
        display: block;
        left: 0; } }

.main-menu__link {
  min-height: 32px;
  max-height: inherit;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  display: block;
  text-align: left;
  line-height: 32px;
  background-color: #eee;
  color: #221;
  cursor: pointer;
  border-radius: 0;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .main-menu__link {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      line-height: 1;
      min-height: 44px;
      background-color: #eee;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fbfbfb));
      /* Chrome, Safari 4+ */
      background-image: -webkit-linear-gradient(top, #eee, #fbfbfb);
      /* Chrome 10-25, iOS 5+, Safari 5.1+ */
      /* Firefox 3.6-15 */
      /* Opera 11.10-12.00 */
      background-image: linear-gradient(to bottom, #eee, #fbfbfb);
      /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
      box-shadow: inset 0 1px 0 #fff; }
      .main-menu__link:hover {
        color: #333;
        background-color: #c22; } }

.footer-menu {
  text-align: left;
  border-top: 1px solid #eee;
  padding-top: 10px; }

.footer-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.footer-menu__item {
  display: block; }

.footer-menu__link {
  margin: 0;
  padding: 0;
  min-height: inherit;
  max-height: inherit;
  text-align: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: block;
  color: #555; }

.footer-menu__item.parent {
  width: 50%;
  display: block;
  /* @media  only screen and (min-width: 30.00625em) and (max-width: 63.9999999em) { @content } */
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 30.00625em) and (max-width: 63.9999999em) {
    .footer-menu__item.parent {
      width: 33%; } }
  @media only screen and (min-width: 64em) {
    .footer-menu__item.parent {
      width: 20%;
      margin-top: 10px; } }

.footer-menu__item.parent > a,
.footer-menu__item.parent > span {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 100%; }

.footer-menu__item.deeper .footer-menu__list {
  display: block;
  width: 100%;
  margin-left: 10px; }

.icon-menu {
  width: 100%; }

.icon-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.icon-menu__item {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.icon-menu__link {
  text-decoration: none;
  color: #c22;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .icon-menu__link {
      min-height: 0;
      padding-left: 0;
      padding-right: 0; }
      .icon-menu__link:hover {
        text-decoration: underline; } }

.menu-eight__list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.menu-eight__item {
  min-width: 24%;
  /* max-width: 25%; */
  width: 24%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.menu-eight__text {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }

.menu-eight__link {
  color: #fff;
  background-color: #a6a6a6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#999));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #a6a6a6, #999);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #a6a6a6, #999);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  .menu-eight__link:hover {
    background-image: none;
    background-color: #b3b3b3;
    color: #fff; }
    .menu-eight__link:hover .menu-eight__text {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .menu-eight__link:active {
    background-color: gray;
    border-color: #999; }

.menu-four__list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.menu-four__item {
  min-width: 49%;
  /* max-width: 25%; */
  width: 49%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.menu-four__link {
  color: #fff;
  background-color: #dc2c2c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc2c2c), to(#c22));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #dc2c2c, #c22);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #dc2c2c, #c22);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  .menu-four__link:hover {
    color: #fff; }
  .menu-four__link:active {
    background-color: #a01b1b;
    border-color: #c22; }

.module.site-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #c22;
  height: 32px;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .module.site-header {
      position: inherit;
      height: auto;
      background-color: transparent; } }
  .module.site-header .module-header {
    display: none; }
  .module.site-header .custom.site-header {
    color: #fff;
    text-align: center;
    /* @media  only screen and (min-width: 64em) { @content } */ }
    @media only screen and (min-width: 64em) {
      .module.site-header .custom.site-header {
        width: 728px;
        height: 180px; } }
    .module.site-header .custom.site-header h1 {
      margin: 0;
      padding: 0;
      line-height: 32px;
      /* @media  only screen and (min-width: 64em) { @content } */ }
      @media only screen and (min-width: 64em) {
        .module.site-header .custom.site-header h1 {
          visibility: hidden;
          height: 0;
          overflow: hidden; } }
    .module.site-header .custom.site-header h2 {
      visibility: hidden;
      display: none; }
    .module.site-header .custom.site-header p {
      margin: 0;
      padding: 0; }
    .module.site-header .custom.site-header img {
      display: none;
      /* @media  only screen and (min-width: 64em) { @content } */ }
      @media only screen and (min-width: 64em) {
        .module.site-header .custom.site-header img {
          display: block; } }

.feature-carousel {
  width: 100%; }

.feature-carousel__radio-control {
  display: none; }

.feature-carousel__item {
  width: 100%;
  display: block;
  position: relative; }

.feature-carousel__item figure {
  margin: 0; }

.feature-carousel__img,
.feature-carousel__img-wrapper img {
  width: 100%;
  /*   max-width: 728px; */ }

.feature-carousel__caption {
  display: block; }

.feature-carousel__nav {
  display: none; }

.feature-carousel {
  position: relative; }

.feature-carousel__viewport {
  overflow: hidden;
  width: 100%; }

.feature-carousel__container {
  -webkit-transition: margin 0.3s;
          transition: margin 0.3s;
  display: block;
  /*   width: 900%; */ }

.feature-carousel__item {
  float: left;
  width: 20%; }

.feature-carousel__title {
  margin-bottom: 0;
  position: absolute;
  bottom: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
  /* @media  only screen and (max-width: 63.9999999em) { @content } */
  /* @media  only screen and (max-width: 30em) { @content } */
  /* @media  only screen and (min-width: 30.00625em) and (max-width: 63.9999999em) { @content } */
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (max-width: 63.9999999em) {
    .feature-carousel__title {
      line-height: inherit;
      font-size: 16px; } }
  @media only screen and (max-width: 30em) {
    .feature-carousel__title {
      max-width: 65%;
      text-align: left;
      left: 5px; } }
  @media only screen and (min-width: 30.00625em) and (max-width: 63.9999999em) {
    .feature-carousel__title {
      max-width: 72.5%; } }
  @media only screen and (min-width: 64em) {
    .feature-carousel__title {
      line-height: 24px; } }

.feature-carousel__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*   background-color: transparent !important; */
  text-indent: -999em;
  text-decoration: none;
  /* @media  only screen and (max-width: 30em) { @content } */
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (max-width: 30em) {
    .feature-carousel__link {
      position: absolute;
      top: inherit;
      left: inherit;
      bottom: 5px;
      right: 5px;
      text-indent: 0;
      display: block;
      text-align: center;
      background-color: #c22;
      color: #fff;
      text-decoration: none;
      border-width: 0 0 1px 1px;
      padding: 0 10px;
      border-radius: 3px;
      line-height: 32px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      background-color: #d92424;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#d92424), to(#c22));
      /* Chrome, Safari 4+ */
      background-image: -webkit-linear-gradient(top, #d92424, #c22);
      /* Chrome 10-25, iOS 5+, Safari 5.1+ */
      /* Firefox 3.6-15 */
      /* Opera 11.10-12.00 */
      background-image: linear-gradient(to bottom, #d92424, #c22);
      /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ } }
  @media only screen and (min-width: 64em) {
    .feature-carousel__link {
      line-height: 24px; } }
  .feature-carousel__link:hover, .feature-carousel__link:focus {
    color: #fff;
    background-image: none;
    /* @media  only screen and (max-width: 30em) { @content } */ }
    @media only screen and (max-width: 30em) {
      .feature-carousel__link:hover, .feature-carousel__link:focus {
        background-color: #c22; } }
  .feature-carousel__link:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5); }

.feature-carousel__img-wrapper {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
  /*   margin-bottom: $gutter--narrow; */ }
  .feature-carousel__img-wrapper:before {
    content: "";
    display: block;
    padding-top: 56.25%; }

.feature-carousel__img-wrapper img {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%; }

.feature-carousel__nav {
  display: block;
  text-align: center; }

.feature-carousel__nav ul {
  position: relative; }

li.feature-carousel__nav-previous,
li.feature-carousel__nav-next {
  /*
    top: 0;
    bottom: 0;
    position: absolute;
  */
  position: inherit;
  /* @media  only screen and (max-width: 63.9999999em) { @content } */ }
  @media only screen and (max-width: 63.9999999em) {
    li.feature-carousel__nav-previous,
    li.feature-carousel__nav-next {
      position: inherit;
      line-height: inherit; } }

.feature-carousel__nav-previous button,
.feature-carousel__nav-next button {
  color: #999;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  /* @media  only screen and (max-width: 30em) { @content } */ }
  .feature-carousel__nav-previous button path,
  .feature-carousel__nav-next button path {
    fill: orange !important; }
  @media only screen and (max-width: 30em) {
    .feature-carousel__nav-previous button,
    .feature-carousel__nav-next button {
      width: inherit; } }

.feature-carousel__nav-item {
  cursor: pointer;
  display: none; }

.feature-carousel__nav-previous,
.feature-carousel__nav-item,
.feature-carousel__nav-next {
  display: inline-block;
  white-space: nowrap;
  padding: 0 5px;
  line-height: 32px;
  position: relative;
  text-align: center; }

li.feature-carousel__nav-previous {
  left: 0;
  padding-left: 0; }

li.feature-carousel__nav-next {
  right: 0;
  padding-right: 0; }

button.feature-carousel__nav-previous {
  background-image: url(../svg/left-arrow--gray-lighter.svg);
  /* @media  only screen and (max-width: 30em) { @content } */ }
  button.feature-carousel__nav-previous:hover {
    background-image: url(../svg/left-arrow--gray-light.svg); }
  @media only screen and (max-width: 30em) {
    button.feature-carousel__nav-previous {
      background-image: none; } }

button.feature-carousel__nav-next {
  background-image: url(../svg/right-arrow--gray-lighter.svg);
  /* @media  only screen and (max-width: 30em) { @content } */ }
  button.feature-carousel__nav-next:hover {
    background-image: url(../svg/right-arrow--gray-light.svg); }
  @media only screen and (max-width: 30em) {
    button.feature-carousel__nav-next {
      background-image: none; } }

.feature-carousel__nav-previous span,
.feature-carousel__nav-next span {
  display: inherit;
  text-indent: -999em;
  /* @media  only screen and (max-width: 30em) { @content } */ }
  @media only screen and (max-width: 30em) {
    .feature-carousel__nav-previous span,
    .feature-carousel__nav-next span {
      text-indent: inherit; } }

.feature-carousel__nav-previous i {
  text-decoration: none; }

.feature-carousel__readmore {
  display: none; }

li.feature-carousel__nav-item {
  /*   width: $gutter--normal; */
  /*   height: $gutter--normal; */
  /*   position: relative; */
  background-color: #eee;
  /*   border: 1px solid $color--gray-light; */
  border-radius: 100%;
  margin: 0 2.5px; }

label.feature-carousel__nav-item {
  overflow: hidden;
  /*   z-index: 1; */
  /*   position: absolute; */
  /*   top: 1px; */
  /*   left: 1px; */
  width: 5px;
  height: 5px;
  border-radius: 100%;
  display: block; }

#feature-carousel__item0:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item0],
#feature-carousel__item1:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item1],
#feature-carousel__item2:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item2],
#feature-carousel__item3:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item3],
#feature-carousel__item4:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item4],
#feature-carousel__item5:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item5],
#feature-carousel__item6:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item6],
#feature-carousel__item7:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item7],
#feature-carousel__item8:checked ~ .feature-carousel__nav .feature-carousel__nav-item[for=feature-carousel__item8] {
  background-color: #999; }

.article-grid__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.article-grid__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
  display: block;
  margin: 0;
  max-width: 33%;
  padding: 5px; }

.article-grid__figure {
  width: 100%;
  display: block;
  margin: 0; }

.article-grid__img-wrapper {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
  margin-bottom: 5px; }
  .article-grid__img-wrapper:before {
    content: "";
    display: block;
    padding-top: 56.25%;
    /* initial ratio of 1:1*/ }
  .article-grid__img-wrapper img {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%; }

.article-grid__title {
  font-size: 16px;
  padding-left: 0;
  text-align: center;
  margin: 0 2.5px; }

.video__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 728px;
  list-style: none;
  margin: 0;
  padding: 0; }

.video {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
  display: block;
  margin: 0;
  max-width: 33%;
  padding: 10px; }
  .video iframe {
    max-width: 100%; }

.video__title {
  font-size: 16px;
  padding-left: 0;
  text-align: center;
  margin: 0 2.5px; }

.video__content {
  display: none; }

.pagination {
  text-align: center;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 2.5px; }
  .pagination p.counter {
    color: #999;
    margin-bottom: 0; }
  .pagination .pagination-list {
    /*     text-align: center; */ }
    .pagination .pagination-list li {
      display: inline-block; }
  .pagination a {
    display: block;
    padding: 2.5px 5px; }
  .pagination i {
    display: block;
    background-color: #999; }

.page-navigation {
  text-align: center;
  margin: 5px auto; }
  .page-navigation .page-navigation__item {
    float: left; }

.copyright__logo {
  background-image: url(../img/ig-logo--black.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
  float: left;
  margin-right: 5px; }

.copyright__text {
  height: 32px;
  font-size: 12px; }
  .copyright__text p {
    display: table-cell;
    vertical-align: bottom;
    height: 32px;
    margin: 0;
    line-height: 14px !important;
    padding-left: 2.5px; }

.copyright__menu {
  display: block;
  line-height: 12px; }
  .copyright__menu .__list .__item {
    display: inline-block; }
  .copyright__menu .__item .__link {
    color: #fff;
    padding: 0 2.5px;
    line-height: 12px; }
    .copyright__menu .__item .__link i {
      font-style: normal; }

.contact {
  padding: 0;
  line-height: 32px;
  font-size: 12px; }
  .contact__item {
    display: inline-block;
    text-align: center; }
  .contact__link {
    color: #999;
    height: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: none; }

.tags li {
  display: inline-block; }
.tags a {
  font-size: 12px;
  display: block;
  background-color: #999;
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff; }

.inline {
  margin: 1px 1px; }

.button, .button--nav {
  min-width: 32px;
  background-color: #c22;
  border: 1px solid #a01b1b;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  padding: 0 5px;
  line-height: 32px;
  height: 32px;
  /* @media  only screen and (min-width: 64em) { @content } */
  background-color: #dc2c2c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc2c2c), to(#c22));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #dc2c2c, #c22);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #dc2c2c, #c22);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  @media only screen and (min-width: 64em) {
    .button, .button--nav {
      height: 24px;
      line-height: 24px; } }
  .button:hover, .button--nav:hover, .button:focus, .button--nav:focus {
    color: #fff;
    background-image: none;
    background-color: #c22; }
  .button:active, .button--nav:active {
    background-image: none;
    background-color: #c22;
    box-shadow: none;
    border-bottom-color: #c22;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1); }

.button--nav {
  background-color: #0061be;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0061be), to(#0054a4));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #0061be, #0054a4);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #0061be, #0054a4);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  border: 1px solid #c22;
  border-bottom-color: #00203e;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .button--nav:hover, .button--nav:focus {
    background-image: none;
    background-color: #dc2c2c; }
  .button--nav:active {
    background-image: none;
    background-color: #c22;
    box-shadow: none;
    border-bottom-color: #c22;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1); }

/*------------------------------------*\
    $Structure
\*------------------------------------*/
/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
.blog,
.item-page,
.blog-featured,
.tag-category {
  /*   border-top: 1px solid $color--gray-lighter; */
  margin: 0;
  padding: 0;
  position: relative;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .blog,
    .item-page,
    .blog-featured,
    .tag-category {
      padding: 10px 20px; } }
  .blog h1 a,
  .item-page h1 a,
  .blog-featured h1 a,
  .tag-category h1 a {
    text-decoration: none; }
  .blog h1,
  .blog .article__title,
  .item-page h1,
  .item-page .article__title,
  .blog-featured h1,
  .blog-featured .article__title,
  .tag-category h1,
  .tag-category .article__title {
    margin: 0 0 5px;
    padding-bottom: 2.5px;
    border-bottom: 1px solid #eee; }
  .blog h2,
  .item-page h2,
  .blog-featured h2,
  .tag-category h2 {
    padding-left: 0;
    margin-bottom: 5px; }
  .blog h2,
  .blog h2 a,
  .item-page h2,
  .item-page h2 a,
  .blog-featured h2,
  .blog-featured h2 a,
  .tag-category h2,
  .tag-category h2 a {
    text-decoration: none;
    border-bottom: none; }
  .blog iframe,
  .item-page iframe,
  .blog-featured iframe,
  .tag-category iframe {
    border: none;
    float: left;
    margin: 10px; }
  .blog h4,
  .item-page h4,
  .blog-featured h4,
  .tag-category h4 {
    text-align: center;
    margin: 20px 0;
    color: #333; }
  .blog .actions,
  .item-page .actions,
  .blog-featured .actions,
  .tag-category .actions {
    position: absolute;
    top: 0;
    right: 0; }
  .blog .actions li,
  .item-page .actions li,
  .blog-featured .actions li,
  .tag-category .actions li {
    display: inline; }
  .blog .article-info,
  .item-page .article-info,
  .blog-featured .article-info,
  .tag-category .article-info {
    color: #999;
    border-bottom: 1px dotted #eee;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-left: 0; }
  .blog .article-info dt,
  .item-page .article-info dt,
  .blog-featured .article-info dt,
  .tag-category .article-info dt {
    display: none; }
  .blog img,
  .item-page img,
  .blog-featured img,
  .tag-category img {
    max-width: 100%;
    width: 100%; }
  .blog p img,
  .item-page p img,
  .blog-featured p img,
  .tag-category p img {
    /* @media  only screen and (max-width: 63.9999999em) { @content } */ }
    @media only screen and (max-width: 63.9999999em) {
      .blog p img,
      .item-page p img,
      .blog-featured p img,
      .tag-category p img {
        margin: 2.5px 5px; } }
  .blog table,
  .item-page table,
  .blog-featured table,
  .tag-category table {
    width: 100%; }
  .blog table,
  .blog tr,
  .blog td,
  .item-page table,
  .item-page tr,
  .item-page td,
  .blog-featured table,
  .blog-featured tr,
  .blog-featured td,
  .tag-category table,
  .tag-category tr,
  .tag-category td {
    border: 1px solid #eee; }
  .blog table p,
  .item-page table p,
  .blog-featured table p,
  .tag-category table p {
    width: inherit; }

article iframe {
  max-width: 100%; }

figure {
  margin: 10px; }

.img-intro-left,
.img-fulltext-left {
  float: left;
  margin-right: 5px;
  margin-bottom: 2.5px; }

.blog .category-desc {
  margin-bottom: 5px;
  border-bottom: 1px solid #eee; }
.blog .item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee; }
.blog .article__title {
  font-size: 24px;
  border-bottom: none; }
.blog .article__title a {
  color: #222;
  text-decoration: none !important; }
.blog p a {
  /*       color: $color--gray-darker; */
  /*       text-decoration: none; */ }
.blog p.readmore a {
  color: #0054a4;
  text-decoration: underline; }
.blog strong {
  font-weight: normal; }

.tag-category .tag-category__item {
  margin: 20px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px; }
  .tag-category .tag-category__item:last-of-type {
    border-bottom: none; }
.tag-category .tag-category__item iframe {
  border: none;
  float: left;
  margin: 10px; }

.item-page p {
  max-width: 38em;
  overflow: visible;
  position: relative;
  margin-left: 3em; }
  .item-page p img {
    width: 100%; }

/*------------------------------------*\
    $Structure
\*------------------------------------*/
/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
.blog,
.item-page,
.blog-featured {
  /*   border-top: 1px solid $color--gray-lighter; */
  margin: 0;
  padding: 0;
  position: relative;
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    .blog,
    .item-page,
    .blog-featured {
      padding-right: 10px; } }
  .blog h1,
  .blog .article__title,
  .item-page h1,
  .item-page .article__title,
  .blog-featured h1,
  .blog-featured .article__title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee; }
  .blog .category__title,
  .item-page .category__title,
  .blog-featured .category__title {
    font-size: 16px;
    margin-bottom: 0;
    color: #999; }
  .blog h2,
  .item-page h2,
  .blog-featured h2 {
    padding-left: 0;
    margin-bottom: 5px; }
  .blog h2,
  .blog h2 a,
  .item-page h2,
  .item-page h2 a,
  .blog-featured h2,
  .blog-featured h2 a {
    text-decoration: none;
    border-bottom: none; }
  .blog h4,
  .item-page h4,
  .blog-featured h4 {
    text-align: center;
    margin: 20px 0;
    color: #333; }
  .blog .actions,
  .item-page .actions,
  .blog-featured .actions {
    position: absolute;
    top: 0;
    right: 0; }
  .blog .actions li,
  .item-page .actions li,
  .blog-featured .actions li {
    display: inline; }
  .blog .article-info,
  .item-page .article-info,
  .blog-featured .article-info {
    color: #999;
    border-bottom: 1px dotted #eee;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-left: 0; }
  .blog .article-info dt,
  .item-page .article-info dt,
  .blog-featured .article-info dt {
    display: none; }
  .blog img,
  .item-page img,
  .blog-featured img {
    max-width: 100%;
    width: 100%; }
  .blog p img,
  .item-page p img,
  .blog-featured p img {
    /* @media  only screen and (max-width: 63.9999999em) { @content } */ }
    @media only screen and (max-width: 63.9999999em) {
      .blog p img,
      .item-page p img,
      .blog-featured p img {
        margin: 2.5px 5px; } }
  .blog table,
  .item-page table,
  .blog-featured table {
    width: 100%; }
  .blog table, .blog tr, .blog td,
  .item-page table,
  .item-page tr,
  .item-page td,
  .blog-featured table,
  .blog-featured tr,
  .blog-featured td {
    border: 1px solid #eee; }
  .blog table p,
  .item-page table p,
  .blog-featured table p {
    width: inherit; }

article iframe {
  max-width: 100%; }

.img-intro-left,
.img-fulltext-left {
  float: left;
  margin-right: 5px;
  margin-bottom: 2.5px; }

.blog .category-desc {
  margin-bottom: 5px;
  border-bottom: 1px solid #eee; }
.blog .item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee; }
.blog .article__title {
  font-size: 24px;
  border-bottom: none; }
.blog .article__title a {
  color: #222;
  text-decoration: none !important; }
.blog p a {
  /*       color: $color--gray-darker; */
  /*       text-decoration: none; */ }
.blog p.readmore a {
  color: #0054a4;
  text-decoration: underline; }
.blog strong {
  font-weight: normal; }

.blog,
.item-page {
  padding-left: 10px;
  padding-right: 20px; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  /* @media  only screen and (min-width: 64em) { @content } */ }
  @media only screen and (min-width: 64em) {
    body {
      background-color: #eee; } }
