/******************************************************************************\

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You're reading it!
 * EXTENDS.............Extends for the project
 * MIXINS..............Mixins for the project
 * VARIABLES...........Set our environment items
 * IMPORTS.............Set our reset defaults
 * TYPOGRAPHY..........Set typography
 * GRIDS...............Set our grids
 * LAYOUT..............
 * MODULES.............
 */

/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
@function em($px){
  @return ($px/16px)+0em;
}

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$csswizard-grids-use-silent-classes:    true;

$media-queries-supported: true;

// Breakpoints
$palm:     em(300px);
$lap:      em(481px);
$desk:     em(1024px);

$csswizard-grids-breakpoints: (
    'palm' '(min-width: 300px)',
    'big-palm' '(min-width: 481px)',
    'lap' '(min-width: 720px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)'
);

$csswizard-grids-push: true;
$csswizard-grids-pull: true;

$csswizard-grids-breakpoint-has-widths: ('palm', 'big-palm', 'lap', 'portable', 'desk');
$csswizard-grids-breakpoint-has-push:   ('palm', 'big-palm', 'lap', 'portable', 'desk');
$csswizard-grids-breakpoint-has-pull:   ('palm', 'big-palm', 'lap', 'portable', 'desk');


// Cool

$color--aqua:  #7FDBFF;
$color--blue:  #0054a4;
$color--blue--light: lighten($color--blue, 10%);
$color--blue--dark: darken($color--blue, 10%);
$color--navy:  #001F3F;
$color--teal:  #39CCCC;
$color--green: #5d9632;
$color--green--light: #e0edd5;
$color--olive: #3D9970;
$color--lime:  #01FF70;


// Warm

$color--yellow:  #FFDC00;
$color--orange:  #FF851B;
$color--red:     #FF4136;
$color--fuchsia: #F012BE;
$color--purple:  #B10DC9;
$color--maroon:  #85144B;

// Gray Scale

$color--black:        #221;
$color--gray-darker:  #222;
$color--gray-dark:    #333;
$color--gray:          #555;
$color--gray-light:   #999;
$color--gray-lighter: #eee;
$color--white:        #fff;

// quick var
$black: $color--black;
$white: $color--white;



// Size
$size--small: 12px;
$size--base:  14px;
$size--touch-target: 32px;
$size--menu-width: 90%;




$small:       em( 320px); // 320px
$medium:      em( 468px); // 468px
$large:       em( 768px); // 768px;
$extra-large: em(1024px); // 1004px;
$massive:     em(1440px); // 1440px;

// Gutter

$gutter--normal: 20px;
$gutter--narrow: 10px;
$gutter--skinny: 5px;
$csswizard-grids-gutter: $gutter--narrow;


// Typography

$typecsset-base-font-size:    $size--base;
$typecsset-base-line-height:  18px;

// Heading sizes
$typecsset-h1-size:             36px !default;
$typecsset-h2-size:             24px !default;
$typecsset-h3-size:             16px !default;
$typecsset-h4-size:             24px !default;
$typecsset-h5-size:             20px !default;
$typecsset-h6-size:             18px !default;




$animation--transition-speed: 0.3s;


$z-index--menu: 999;
$z-index--search: 998;
$z-index--header: 997;
$z-index--absolute: 1000;



// Shadows
$box-shadow--color: rgba(0,0,0,0.1);
$box-shadow--left: 2px;
$box-shadow--top: 2px;
$box-shadow--radius: 0;

$box-shadow: $box-shadow--left $box-shadow--top $box-shadow--radius $box-shadow--color;

$box-shadow--highlight: inset 0 1px 0 rgba(255,255,255,0.1);



/*------------------------------------*\
    $EXTENDS
\*------------------------------------*/
%ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%hide {
  @extend %ir;
  @extend %zero;

  height: 0;
}

%zero {
  margin: 0;
  padding: 0;
}

%list {
  @extend %zero;
  list-style: none;
}

%clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

%outline {
  box-shadow: inset -1px -1px 0 $black,
              inset 1px 1px 0 $black;
}


/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
@mixin media-query($unit, $query1: min, $query2: width, $target: "") {
  $mqtarget: "";
  // Check if media queries are supported
  @if $media-queries-supported == true {
    @if $target != "" {
      @media #{$target} and (#{$query1}-#{$query2}: #{$unit}) {
        @content;
      }
    }
    @else {
      @media (#{$query1}-#{$query2}: #{$unit}) {
        @content;
      }
    }
  }
  @else {
    #{$no-mq-classname} & {
      @content;
    }
  }
}

@mixin vertical-gradient($start: #fff, $stop: #000, $direction: to bottom)
{
  background-color: $start;
  background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($stop)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, $start, $stop); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, $start, $stop); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, $start, $stop); /* Opera 11.10-12.00 */
  background-image:         linear-gradient($direction, $start, $stop); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


@mixin ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}




/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import "i-normalize";
/* @import "library/typecsset"; */
@import "library/csswizardry-grids";
@import "i-typography";
@import "i-fonts";


/*------------------------------------*\
    $GENERAL
\*------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  @include media-query($desk + em(($gutter--narrow * 2))) {
    background-color: $color--green--light;
  }
}




/*------------------------------------*\
    $MODULES
\*------------------------------------*/
@import "m-buttons";
@import "m-site-logo";
@import "m-navigation";
@import "m-site-search";
@import "m-advertisement";
@import "m-latest-news";
@import "m-feature-carousel";
@import "m-article-grid";
@import "m-videos";
@import "m-newsletter-signup";
@import "m-twitter";
@import "m-footer-contact";
@import "m-current-contests";
@import "m-caption";
@import "m-tag_category";
@import "m-pagination";
@import "m-faq";
@import "m-copyright";

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
@import "c-article";





/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.page-wrapper {
  @extend %clearfix;


  overflow: hidden;


  @include media-query($desk) {
    width: 1024px;
    margin: 0 auto;
  }

  @include media-query($desk + em(($gutter--narrow * 2))) {
    border: $gutter--narrow solid $color--white;
    background-color: $color--white;
    border-radius: 5px;
    margin-top: $gutter--normal;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
}


.l-header {
  @extend %grid;

  @include media-query($desk) {
    margin-bottom:  $gutter--narrow;
  }
}

.l-header .site-logo {
  @extend %grid__item;
  @extend %desk--one-eighth;
}

.l-header .header__tools {
  @extend %grid__item;
  @extend %desk--three-eighths;
  @extend %grid--full;
}

.l-header .quick-nav {
  @extend %grid__item;
  @extend %palm--one-whole;
  @extend %desk--one-half;
}


.l-banner {
  margin-top: $size--touch-target + $gutter--narrow;

  @include media-query($desk) {
    padding: 0;
    background-color: $color--white;
    margin: 0;
    margin-bottom: $gutter--narrow;
    width: 100%;
  }
}

.l-banner .module {
  @include media-query($desk) {
    display: table-cell;
    vertical-align: top;
  }
}




.l-main {
  @extend %clearfix;

  @include media-query($desk) {
    background-color: $color--white;
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    min-height: 920px;
  }

}

.l-component-header {

  @include media-query($desk) {
    width: 714px;
    float: left;
  }
}

.l-component {
  margin: $gutter--narrow $gutter--narrow;

  @include media-query($desk) {
    width: 714px;
    margin: 0;
  }
}

.l-component-footer {
  @extend %grid;

  @include media-query($desk) {
    width: 714px;
    margin: 0;
  }
}






.l-sidebar {
  margin: $gutter--narrow;

  @include media-query($desk) {
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
  }
}



.l-footer {
  background-color: $color--blue--dark;

  @include media-query($desk) {
    width: 100%;
    position: relative;
  }
}

.l-footer .footer__wrapper {
  @extend %grid--full;

  max-width: 1024px + 14 + ($gutter--narrow * 2);
  margin: 0 auto;
  background-color: $color--blue;
  padding: 0 $gutter--narrow;
  position: relative;
}

.l-footer .copyright {
  @extend %grid__item;
  @extend %desk--one-half;
  line-height: 32px;
  color: $color--white;
  border-top: 1px solid $color--blue--dark;
  padding: $gutter--narrow 0;
}



.site-nav {
  @include media-query($desk) {
    margin-bottom: $gutter--narrow;
  }
}


// line up items on bigger screens
@include media-query($desk + em(($gutter--narrow * 2)) + em(14px)) {
  .page-wrapper {
    width: 1024px + 14px + $gutter--normal;
  }

  .l-component-header,
  .l-component,
  .l-component-footer {
    width: 728px !important;
  }
}
/**/


////////////////////////////////////
@import "dev";








@import "p-partners";
@import "p-home";