//
// l-component
//
.l-component {
    width: 100%;
    margin-bottom: $gutter-vertical;

    @include respond-to(desktop) {
        width: 728px;
        float: left;
        margin-right: $gutter-horizontal;
    }
}
