//
// l-quick-nav
//
.l-quick-nav {
    @extend %clearfix;

    background-color: $color--white;
    width: 100%;

    .menu {
        margin-bottom: 10px;
    }

    @include respond-to(desktop) {
        .menu {
            // display: inline-block;
            float: left;
            margin-bottom: 10px;
        }

        .menu-four {
            width: 300px;
            margin-right: 10px;
        }

        .menu-eight {
            width: 728px;
        }
    }




}
